@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600;700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Inter, sans-serif;
    background:#F8FAFC;
    color:#1E293B;
    overflow-x:hidden;
}


a{
    text-decoration:none;
    color:inherit;
}

button{
    cursor:pointer;
    border:none;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

/* =========================
   FINAL RESPONSIVE FIXES
========================= */


/* Tablet */
@media(max-width:1024px){

    .hero{
        padding:70px 20px;
    }

    .hero-content{
        gap:40px;
    }

    .hero h1{
        font-size:45px;
    }


    .hero-illustration{
        min-height:350px;
    }


    .laptop{
        width:280px;
    }


    .base{
        width:300px;
    }


    .floating-card{
        font-size:14px;
    }


}


/* Mobile */
@media(max-width:768px){


    .container{
        width:92%;
    }


    /* Navbar */

   nav .container{

    flex-direction:column;
    gap:15px;
    padding:15px 20px;

}


.nav-links{

    width:100%;
    justify-content:center;

}


    .logo h2{

        font-size:24px;

    }


    /* Hero */

    .hero{

        padding:50px 0;

    }


    .hero-content{

        flex-direction:column;
        text-align:center;

    }


    .hero h1{

        font-size:34px;

    }


    .hero p{

        font-size:16px;

    }


    .hero-buttons{

        justify-content:center;

    }



    /* Hero Image */


    .hero-illustration{

        min-height:300px;

    }


    .laptop{

        width:240px;

    }


    .screen{

        height:170px;

    }


    .base{

        width:260px;

    }


    .write-card{

        left:0;
        top:20px;

    }


    .publish-card{

        right:0;
        bottom:40px;

    }



    /* Blog Section */


    .section-title{

        font-size:32px;

    }


    .blog-grid{

        grid-template-columns:1fr;

    }


    .blog-card{

        width:100%;

    }



    /* Add Blog */


    .add-blog-page{

        padding:50px 15px;

    }


    .blog-form-container{

        padding:25px 18px;

    }


    .page-title{

        font-size:28px;

    }



    /* Footer */


    footer{

        margin-top:50px;

    }


    .footer-container{

        gap:40px;

        padding:40px 20px;

    }


}

main{
    overflow:hidden;
}