nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    width:100%;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: 0 8px 25px rgba(15, 23, 42, 0.08);

    padding: 18px 0;
}

nav .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.logo svg {
    transition: all 0.3s ease;
}

.logo:hover svg {
    transform: rotate(-12deg) scale(1.08);
}

.logo h2 {
    font-family: Poppins, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #2563EB;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav-links a {
    position: relative;

    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;

    color: #334155;
    text-decoration: none;

    transition: all .3s ease;
}

.nav-links a:hover {
    color: #2563EB;
    transform: translateY(-2px);
}

/* Animated underline */

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;

    width: 0%;
    height: 2px;

    background: #2563EB;

    transition: width .3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Active Link */

.nav-links a.active {
    color: #2563EB;
}

.nav-links a.active::after {
    width: 100%;
}

/* Button */

.write-btn {
    background: #2563EB;
    color: white !important;

    padding: 12px 24px;

    border-radius: 12px;

    font-weight: 600;

    box-shadow: 0 8px 20px rgba(37, 99, 235, .18);

    transition: all .3s ease;
}

.write-btn:hover {
    background: #1D4ED8;

    transform: translateY(-3px);

    box-shadow: 0 12px 28px rgba(37, 99, 235, .30);
}

.write-btn::after {
    display: none;
}